/***********************************************/
/***********************************************/
/****************    BRAYWEB    ****************/
/***************** MAIN STYLES *****************/
/***********************************************/
/***********************************************/
*, body {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-size: 16px;
    font-family: 'Ephesis', cursive;
    color: var(--black-color);
}

a, a:visited {
    display: block;
    text-decoration: none;
    color: var(--black-color);
}

li {
    list-style: none;
}

/***********************************************/

/***********************************************/
/******************  BRAYWEB    ****************/
/******************  SECTIONS   ****************/
/***********************************************/

/***********************************************/

header {
    height: 80px;
    background-color: var(--header-color);
}

nav {
    height: 100px;
    background: var(--white-color);
    box-shadow: 0px 2px 6.9px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between; /*mettre (les 3) le volant au milieu*/
    align-items: center; /*centrer verticalement*/
    position: sticky;/**/
    top: 0; /**/
    width: 100%;
    
}
/***********************************************/
/***********************************************/
/***********************************************/
/***********************************************/
/***********************************************/
#barmenu {
    position: relative;
    cursor: pointer;
    padding: 1rem;
    color: var(--black-color);
    border: 1px solid green;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {opacity: 0;}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
/***********************************************/
/***********************************************/
/***********************************************/
/***********************************************/
/***********************************************/


.conteneur {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border: 1px solid red;
}

.car {
    font-size: 4em;
    font-style: italic;
    color: var(--black-color);
}

#logo {
    position: absolute; /*Sortir le logo de son positionnement pour le centrer*/
    display: block;
    cursor: pointer;
    bottom: .6dvh;
    width: 90px;
    background-color: var(--white-color);
    border-radius: 50%;
}

.service {
    font-size: 4rem;
    font-style: italic;
    color: var(--red-color);
}


/***********************************************/
/***********************************************/
/***********************************************/
/***********************************************/
/***********************************************/
.hero {
    height: 60vh;
    width: 100%;
    /* border: 1px solid rgb(0, 0, 0); */
    background-color: var(--hero-color);
}
/***********************************************/
#section1 {
    height: 100vh;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    background-color: var(--section1-color);
}
/***********************************************/
#section2 {
    height: 100vh;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    background-color: var(--section2-color);
}
/***********************************************/
#section3 {
    height: 100vh;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    background-color: var(--section3-color);
}
/***********************************************/
#section4 {
    height: 100vh;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    background-color: var(--section4-color);
}
/***********************************************/
footer {
    height: 15vh;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    background-color: var(--footer-color)
}
/***********************************************/